html, body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;   
    height: 160px;
    background-color: white;
    color: white;
    width: 100%;
}
.header ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
}
.header ul li {
    font-size: 20px;
    background-color: #ddd;
    margin: 25px;
    padding: 9px;
    border-radius: 20px;
    height: 40px;
}
.header ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
    width: 40px;
    height: 40px;
}
.logo img {
    margin: 10px;
    width: 40px;
    height: 40px;
}
.logo1 img {
    margin: 10px;
    width: 40px;
    height: 40px;
}
.logo1 {
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
    width: 40px;
    height: 40px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: auto;
    height: 60px;
    position: sticky;
    bottom: 0;
}
.container {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}
.item {
    border-radius: 20px;
    flex: 1 0 300px;
    color: black;
    background-color: #ddd;
    padding: 20px;
    border: 1px solid white;
    margin: 5px;
}
.item h1 {
    text-align: center;
}
.box:hover {
    transition: 0.3s;
    filter: brightness();
    width: 300px;
    height: 300px;
}
.box {
    filter: contrast(2);
    padding: 10px;
    border-radius: 20px;
    margin: 10px auto;
    width: 250px;
    height: 150px;
    align-items: center;
}
.box1 {
    background-image: url(../img/h1.jpg);
    background-position: center;
    background-size: cover;
}
.box2 {
    background-image: url(../img/h2.jpg);
    background-position: center;
    background-size: cover;
}
.box3 {
    background-image: url(../img/h3.jpg);
    background-position: center;
    background-size: cover;
}
.box4 {
    background-image: url(../img/h4.jpg);
    background-position: center;
    background-size: cover;
}
.box5 {
    background-image: url(../img/h5.jpg);
    background-position: center;
    background-size: cover;
}
.box6 {
    background-image: url(../img/h6.jpg);
    background-position: center;
    background-size: cover;
}
.box7 {
    background-image: url(../img/h7.jpg);
    background-position: center;
    background-size: cover;
}
.box8 {
    background-image: url(../img/h8.jpg);
    background-position: center;
    background-size: cover;
}
.box9 {
    background-image: url(../img/h9.jpg);
    background-position: center;
    background-size: cover;
}
.img1 {
    background-image: url(../img/aspa.jpg);
    background-position: center;
    background-size: cover;
}
.img {
    padding: 56px;
    width: 189px;
    height: 80px;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 20px;
}
iframe {
    border-radius: 20px;
    width: 100%;
    height: 400px;
    filter: invert(100%);
    margin: auto;
}
p {
    margin-top: 20px;
}

h1 {
    margin-bottom: 10px;
}